@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --hero: #fffafa;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: 'Roboto', sans-serif;
}

/* ====== universal style ======= */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: var(--font-family);
}

html {
    font-family: var(--font-family);
    font-size: 62.3%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    text-align: left;
    background: rgb(255, 253, 245) none repeat scroll 0% 0%;
}

a {
    /* color: #007bff; */
    text-decoration: none;
    background-color: transparent;
}

li {
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* ======= header ======= */
.header {
    width: 100%;
    position: fixed;
    background: rgb(255, 253, 245);
    /* background: red; */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logox {
    width: 308px !important;
    margin: 2.9rem 2.66rem;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 19rem;
    gap: 4rem;
}

.nav-item {
    margin: 3rem 0;
    margin-right: 1rem;
    font-size: 1.84rem;
}

.nav-link {
    color: var(--gray);
    font-weight: 400;
}

.enroll {
    margin: 2.56rem 7rem;
}

.thumbs {
    background-color: #e7332b !important;
    border-radius: 100px !important;
    margin-left: -47px !important;
    padding: 10px !important;
    position: absolute !important;
    width: 79px !important;

}

.enroll-btn {
    background: #e7332b !important;
    border-radius: 71px !important;
    box-shadow: none;
    color: #fff !important;
    padding: 13px 32px;
    text-transform: none;
}

.enroll-x {
    color: var(--white);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

/* ========= HOME ============= */

.home {
    padding-top: 150px;
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: -16px;
    /* width: calc(119rem + 1rem); */
    margin-left: -16px;
}

.section {
    margin: auto;
    max-width: 1440px;
}

.home-img {
    display: flex;
    margin: auto;
    width: 35rem;
}

.home-text{
    margin-bottom: 5rem;
}

.home .heading {
    color: #e7332b;
    font-family: Graphik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
}

.home-text h2 {
    color: #1b1a20;
    font-family: var(--font-family);
    font-size: 45px;
    font-weight: 700;
    font-style: normal;
    line-height: 110%;
    padding-top: 1px;
    text-align: center;
    letter-spacing: 0.00938em;
    margin: auto;
}

.wire {
    display: flex;
    justify-content: right;
    margin-right: 32px;
    margin-bottom: 30px;
}

.line {
    width: 33%;
}

.home-description {
    color: #1b1a20 !important;
    font-family: Graphik !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 130% !important;
    margin: auto !important;
    padding-bottom: 40px !important;
    text-align: center !important;
    width: 83% !important;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 30px;
    margin: auto;
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: Graphik;
}

.home-btn a {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    font-family: Graphik;
}

.line3 {
    margin-left: 33px;
    margin-top: -141px !important;
    max-width: 1440px !important;
    position: absolute;
    width: 54px !important;
}

.wire6 {
    width: 40% !important;
    display: flex;
    justify-content: end;
    margin: auto;
}

.line2 {
    width: 35% !important;
}