@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --hero: #fffafa;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: 'Roboto', sans-serif;
}

/* ====== universal style ======= */

*,
::after,
::before {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    border: 0;
}

html{
    font-family: var(--font-family);
    font-size: 62.3%;
}
body{
    font-family: var(--font-family);
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    text-align: left;
    background-color: var(--light);
}a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }



img{
    border-style: none;
    width: 100%;
    height: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
/* ======= MAIN ======= */
.hero-container{
    /* background-image: url("../Images/img/hero-bg.svg.URL"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--hero);
    height: auto;
}

.center-image{
margin: auto;
display: flex;
padding-top: 69px;
margin-bottom: 69px;
align-items: center;
justify-content: center;
}

.logo-img{
    display: block;
    padding-top: 50px;
    margin-bottom: 20px;
    width: 10rem;

}

.hero{
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hero h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 36px;
    color: #514949;
}

.hero p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

a {
    color: #E7332B;
    text-decoration: none;
}

.btn-div {
    margin-bottom: 50px;
    margin-top: 92px;
  }

  .my-btn{
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border-color: none;
    cursor: pointer;
  }

  .btn-red{
    background-color: #E7332B;
    color: var(--light);
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn-red:hover {
    border: 1px solid #E7332B;
    background-color: transparent;
    color: #E7332B;
}
.btn-red-outline {
  border: 1px solid #E7332B;
  background-color: transparent;
  color: #E7332B;
  font-size: 1.5rem;
}
  .btn-red-outline:hover{
    background-color: #E7332B;
    color: var(--light);
  }
  .d-block {
    display: block !important;
  }
  