@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --hero: #fffafa;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: 'Roboto', sans-serif;
}

/* ====== universal style ======= */

*,
::after,
::before {
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    border: 0;
}

html {
    font-family: var(--font-family);
    font-size: 62.3%;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #212529;
    text-align: left;
    background-color: var(--white);
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

img {
    border-style: none;
    width: 100%;
    height: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* ========== header =========== */

.nav-header {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    background-color: rgb(25, 118, 210);
    color: rgb(255, 255, 255);
    background-color: #fff;
    box-shadow: none;
}

.nav {
    position: relative;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 56px;
}

.nav-item {
    display: flex;
}

.nav-link {
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: currentcolor none 0px;
    border: 0px none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    margin: 0px;
    margin-right: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
}

.nav-link:hover {
    text-decoration: none;
    background-color: rgba(25, 118, 210, 0.04);
}

.is-current {
    border-bottom: 3px solid #e7332b;
    border-radius: 0;
    display: flex;
    justify-content: center;
    line-height: 0px;
    padding: 0;
}

.headers {
    color: #161617;
}

.footer-text {
    color: #fff;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 140%;
}

.footer-text:hover {
    background-color: none;
}

.btn {
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: currentcolor none 0px;
    border: 0px none;
    margin: 0px;
    margin-right: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
}

.but {
    padding: 11px 35px;
}

.button1 {
    background-color: #e7332b;
    border-radius: 0 0 8px 0;
    color: #fff;
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px;
    text-transform: none;
}